{% load staticfiles %}
<script type="text/javascript" src="{% static "js/canvasjs.min.js" %}"></script>



<script type="text/javascript">
window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer",
  	{
  		theme: "theme1",
  		title:{
        text: "TableSpace Growth chart",
        fontFamily: "fantasy"
  		},
      axisY:{
        gridColor: "#e3e3e3"
      },
      animationEnabled: true,
      zoomEnabled:true,
      legend: {
            verticalAlign: "center",
            horizontalAlign: "right",
            cursor: "pointer",
            itemclick: function (e) {
                //console.log("legend click: " + e.dataPointIndex);
                //console.log(e);
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }

                e.chart.render();
            }
        },
  		data: [
        {% for i,j in tbspace_f.items %}
    		{
          type: "line",
          showInLegend: true,
          legendText: "{{i}}",
          toolTipContent:  "{label} - {y} MB",
          lineThickness: 3,
    			dataPoints: [
            {% for k in j %}
    				{  y: {{k.6}}, label:'{{k.0}}'},
            {% endfor %}
    			]
    		},
        {% endfor %}

  		]
  	});
    chart.render();
    var chart = new CanvasJS.Chart("chartContainer2",
  	{
  		theme: "theme1",
  		title:{
        text: "TableSpace Used Rate",
        fontFamily: "fantasy"
  		},
      animationEnabled: true,
      zoomEnabled:true,
      legend: {
            verticalAlign: "center",
            horizontalAlign: "right",
            cursor: "pointer",
            itemclick: function (e) {
                //console.log("legend click: " + e.dataPointIndex);
                //console.log(e);
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }

                e.chart.render();
            }
        },
      toolTip:{
        shared: true
      },
  		data: [
    		{
          type: "stackedColumn100",
          showInLegend: true,
          color: 'red',
          legendText: "Used",
          indexLabel: "#percent %",
    			indexLabelPlacement: "inside",
    			indexLabelFontColor: "white",
          toolTipContent:  "{name} - {y} MB",
    			dataPoints: [
            {% for i,j in tbspace.items %}
            {% for k in j %}
            {% if k.0 == update_time %}
    				{  y: {{k.6}}, label:'{{i}} Total:{{k.4}}MB', name:'{{i}}'},
            {% endif %}
            {% endfor %}
            {% endfor %}
    			]
    		},

    		{
          type: "stackedColumn100",
          showInLegend: true,
          color: 'blue',
          legendText: "Free",
          indexLabel: "#percent %",
    			indexLabelPlacement: "inside",
    			indexLabelFontColor: "white",
          toolTipContent:  "{name} - {y} MB",
    			dataPoints: [
            {% for i,j in tbspace.items %}
            {% for k in j %}
            {% if k.0 == update_time %}
    				{  y: {{k.1}}, label:'{{i}} Total:{{k.4}}MB', name:'{{i}}'},
            {% endif %}
            {% endfor %}
            {% endfor %}
    			]
    		},



  		]
  	});
  	chart.render();
  }
  function openpage(e){
  console.log(e.dataPoint);
  var url = e.dataPoint.detail;
  var newwin = window.open();   //此行一定要如此書寫,否則失效
  newwin.location= url;   // url是 cgi 程式或者超連結 html
  }
</script>
<div class="row m-b-2">
    <div id="chartContainer" style="height: 350px; width: 50%; float: right;" class="col-sm-3"></div>
    <div id="chartContainer2" style="height: 350px; width: 50%;float: left;" class="col-sm-3"></div>
</div>
<!-- <div>
{% for i,j in tbspace.items %}
  {% for k in j %}
  <p>{{k.5}}</p>
  <p>{{k.2}}</p>
  {% endfor %}
{% endfor %}
</dir> -->
